@import 'vars';
@import 'mixins';

/* skel-baseline v2.0.3 | (c) n33 | getskel.com | MIT licensed */

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Header */

	//body {
	#skel-layers-wrapper {
		padding-top: 0;
	}

	#header {
		display: none;
	}

/* Banner */

	#banner {
		padding: 6em 2em;
	}

/* Layers */

	#navButton {
		.toggle {
			@include icon('\f0c9');
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;

			&:before {
				background: rgba(144,144,144,0.65);
				border-radius: $size-border-radius;
				color: #fff;
				display: block;
				font-size: 16px;
				height: 2.25em;
				left: 0.5em;
				line-height: 2.25em;
				position: absolute;
				text-align: center;
				top: 0.5em;
				width: 3.5em;
			}
		}
	}

	#navPanel {
		background: #444;
		color: #fff;

		nav {
			padding: 0.5em 1.25em;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					padding: 0;

					&:first-child {
						a:not(.button), span:not(.button) {
							border-top: 0;
						}
					}

					a:not(.button), span:not(.button) {
						border-top: solid $size-border-width #555;
						color: #fff;
						display: block;
						padding: 0.75em 0;
						text-decoration: none;
					}
				}
			}

			.button {
				width: 100%;
			}
		}
	}