@import 'vars';
@import 'mixins';
@import 'font-awesome.min.css';

/* skel-baseline v2.0.3 | (c) n33 | getskel.com | MIT licensed */

/* Basic */

	body {
		background: $color-bg;

		&.is-loading {
			*, *:before, *:after {
				@include vendor-property('animation', 'none !important');
				@include vendor-property('transition', 'none !important');
			}
		}
	}

	body, input, select, textarea {
		color: $color-fg;
		font-family: $font-family;
		font-size: 13pt;
		font-weight: $font-weight;
		line-height: 1.65em;
	}

	a {
		color: $color-accent-bg;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	strong, b {
		color: $color-fg-bold;
		font-weight: $font-weight-bold;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 $size-element-margin 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $color-fg-bold;
		font-weight: $font-weight-bold;
		line-height: 1em;
		margin: 0 0 ($size-element-margin * 0.5) 0;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid $size-border-width $color-border;

		// This is the *only* instance where we need to rely on margin collapse.
		margin: $size-element-margin 0;

		&.major {
			margin: ($size-element-margin * 1.5) 0;
		}
	}

	blockquote {
		border-left: solid ($size-border-width * 4) $color-border;
		font-style: italic;
		margin: 0 0 $size-element-margin 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: $color-border-bg;
		border-radius: $size-border-radius;
		border: solid $size-border-width $color-border;
		font-family: $font-family-fixed;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: $font-family-fixed;
		font-size: 0.9em;
		margin: 0 0 $size-element-margin 0;

		code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section, article {
		&.special {
			text-align: center;
		}
	}

	header {
		p {
			color: $color-fg-light;
			position: relative;
			margin: 0 0 ($size-element-margin * 0.75) 0;
		}

		h2 + p {
			font-size: 1.25em;
			margin-top: ($size-element-margin * -0.5);
			line-height: 1.5em;
		}

		h3 + p {
			font-size: 1.1em;
			margin-top: ($size-element-margin * -0.4);
			line-height: 1.5em;
		}

		h4 + p,
		h5 + p,
		h6 + p {
			font-size: 0.9em;
			margin-top: ($size-element-margin * -0.3);
			line-height: 1.5em;
		}
	}

	footer {
	}

/* Form */

	form {
		margin: 0 0 $size-element-margin 0;
	}

	label {
		color: $color-fg-bold;
		display: block;
		font-size: 0.9em;
		font-weight: $font-weight-bold;
		margin: 0 0 ($size-element-margin * 0.5) 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		@include vendor-property('appearance', 'none');
		background: $color-border-bg;
		border-radius: $size-border-radius;
		border: none;
		border: solid $size-border-width $color-border;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;

		&:invalid {
			box-shadow: none;
		}

		&:focus {
			border-color: $color-accent-bg;
			box-shadow: 0 0 0 $size-border-width $color-accent-bg;
		}
	}

	.select-wrapper {
		@include icon('\f078');
		display: block;
		position: relative;

		&:before {
			color: $color-border;
			display: block;
			height: $size-element-height;
			line-height: $size-element-height;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: $size-element-height;
		}

		select::-ms-expand {
			display: none;
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: $size-element-height;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"], {
		@include vendor-property('appearance', 'none');
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;

		& + label {
			@include icon;
			color: $color-fg;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: $font-weight;
			padding-left: ($size-element-height * 0.6) + 0.75em;
			padding-right: 0.75em;
			position: relative;

			&:before {
				background: $color-border-bg;
				border-radius: $size-border-radius;
				border: solid $size-border-width $color-border;
				content: '';
				display: inline-block;
				height: ($size-element-height * 0.6);
				left: 0;
				line-height: ($size-element-height * 0.575);
				position: absolute;
				text-align: center;
				top: 0;
				width: ($size-element-height * 0.6);
			}
		}

		&:checked + label {
			&:before {
				background: $color-accent2-bg;
				border-color: $color-accent2-bg;
				color: $color-accent2-fg-bold;
				content: '\f00c';
			}
		}

		&:focus + label {
			&:before {
				border-color: $color-accent-bg;
				box-shadow: 0 0 0 $size-border-width $color-accent-bg;
			}
		}
	}

	input[type="checkbox"] {
		& + label {
			&:before {
				border-radius: $size-border-radius;
			}
		}
	}

	input[type="radio"] {
		& + label {
			&:before {
				border-radius: 100%;
			}
		}
	}

	::-webkit-input-placeholder {
		color: $color-fg-light !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: $color-fg-light !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: $color-fg-light !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: $color-fg-light !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: $color-fg-light !important;
		opacity: 1.0;
	}

/* Box */

	.box {
		border-radius: $size-border-radius;
		border: solid $size-border-width $color-border;
		margin-bottom: $size-element-margin;
		padding: 1.5em;

		> :last-child,
		> :last-child > :last-child,
		> :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		&.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}
	}

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}

/* Image */

	.image {
		border-radius: $size-border-radius;
		border: 0;
		display: inline-block;
		position: relative;

		img {
			border-radius: $size-border-radius;
			display: block;
		}

		&.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		&.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		&.left,
		&.right {
			max-width: 40%;

			img {
				width: 100%;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 $size-element-margin 0;
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 $size-element-margin 0;
		padding-left: 1.25em;

		li {
			padding-left: 0.25em;
		}
	}

	ul {
		list-style: disc;
		margin: 0 0 $size-element-margin 0;
		padding-left: 1em;

		li {
			padding-left: 0.5em;
		}

		&.alt {
			list-style: none;
			padding-left: 0;

			li {
				border-top: solid $size-border-width $color-border;
				padding: 0.5em 0;

				&:first-child {
					border-top: 0;
					padding-top: 0;
				}
			}
		}

		&.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 1em 0 0;

				&:last-child {
					padding-right: 0;
				}

				.icon {
					&:before {
						font-size: 2em;
					}
				}
			}
		}

		&.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 ($size-element-margin * 0.5) 0 0;
				vertical-align: middle;

				&:last-child {
					padding-right: 0;
				}
			}

			&.small {
				li {
					padding: 0 ($size-element-margin * 0.25) 0 0;
				}
			}

			&.vertical {
				li {
					display: block;
					padding: ($size-element-margin * 0.5) 0 0 0;

					&:first-child {
						padding-top: 0;
					}

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					li {
						padding: ($size-element-margin * 0.25) 0 0 0;

						&:first-child {
							padding-top: 0;
						}
					}
				}
			}

			&.fit {
				display: table;
				margin-left: ($size-element-margin * -0.5);
				padding: 0;
				table-layout: fixed;
				width: calc(100% + #{($size-element-margin * 0.5)});

				li {
					display: table-cell;
					padding: 0 0 0 ($size-element-margin * 0.5);

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					margin-left: ($size-element-margin * -0.25);
					width: calc(100% + #{($size-element-margin * 0.25)});

					li {
						padding: 0 0 0 ($size-element-margin * 0.25);
					}
				}
			}
		}
	}

	dl {
		margin: 0 0 $size-element-margin 0;
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 $size-element-margin 0;
		width: 100%;

		tbody {
			tr {
				border: solid $size-border-width $color-border;
				border-left: 0;
				border-right: 0;

				&:nth-child(2n + 1) {
					background-color: $color-border-bg;
				}
			}
		}

		td {
			padding: 0.75em 0.75em;
		}

		th {
			color: $color-fg-bold;
			font-size: 0.9em;
			font-weight: $font-weight-bold;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		thead {
			border-bottom: solid ($size-border-width * 2) $color-border;
		}

		tfoot {
			border-top: solid ($size-border-width * 2) $color-border;
		}

		&.alt {
			border-collapse: separate;

			tbody {
				tr {
					td {
						border: solid $size-border-width $color-border;
						border-left-width: 0;
						border-top-width: 0;

						&:first-child {
							border-left-width: $size-border-width;
						}
					}

					&:first-child {
						td {
							border-top-width: $size-border-width;
						}
					}
				}
			}

			thead {
				border-bottom: 0;
			}

			tfoot {
				border-top: 0;
			}
		}
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		@include vendor-property('appearance', 'none');
		@include vendor-property('transition', 'background-color #{$duration-transition} ease-in-out, color #{$duration-transition} ease-in-out');
		background-color: $color-accent2-bg;
		border-radius: $size-border-radius;
		border: 0;
		color: $color-accent2-fg-bold !important;
		cursor: pointer;
		display: inline-block;
		font-weight: $font-weight-bold;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			background-color: lighten($color-accent2-bg, 5);
		}

		&:active {
			background-color: darken($color-accent2-bg, 5);
		}

		&.icon {
			padding-left: 1.35em;

			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 ($size-element-margin * 0.5) 0;
			width: 100%;
		}

		&.small {
			font-size: 0.8em;
		}

		&.big {
			font-size: 1.35em;
		}

		&.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 ($size-border-width * 2) $color-border;
			color: $color-fg-bold !important;

			&:hover {
				background-color: $color-border-bg;
			}

			&:active {
				background-color: $color-border2-bg;
			}

			&.icon {
				&:before {
					color: $color-fg-light;
				}
			}
		}

		&.special {
			background-color: $color-accent-bg;
			color: $color-accent-fg-bold !important;

			&:hover {
				background-color: lighten($color-accent-bg, 5);
			}

			&:active {
				background-color: darken($color-accent-bg, 5);
			}
		}

		&.disabled,
		&:disabled {
			background-color: $color-fg !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0,0,0,0.15);
			color: $color-bg !important;
			cursor: default;
			opacity: 0.25;
		}
	}

/* Header */

	//body {
	#skel-layers-wrapper {
		padding-top: 3em;
	}

	#header {
		background: #444;
		color: #fff;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;

		h1 {
			color: #fff;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;

			a {
				font-size: 1.25em;
			}
		}

		nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 1.25em;
			top: 0;
			vertical-align: middle;

			> ul {
				list-style: none;
				margin: 0;
				padding-left: 0;

				> li {
					border-radius: $size-border-radius;
					display: inline-block;
					margin-left: 1em;
					padding-left: 0;

					a {
						@include vendor-property('transition', 'color #{$duration-transition} ease-in-out');
						color: #ccc;
						display: inline-block;
						text-decoration: none;

						&:hover {
							color: #fff;
						}
					}

					&:first-child {
						margin-left: 0;
					}

					.button {
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}
				}
			}
		}

		.container {
			position: relative;

			h1 {
				left: 0;
			}

			nav {
				right: 0;
			}
		}
	}

/* Banner */

	#banner {
		background: #f6f6f6;
		padding: 8em 0;
		text-align: center;

		:last-child {
			margin-bottom: 0;
		}

		h2 {
			font-size: 4em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		p {
			font-size: 1.5em;
			margin-bottom: 1.75em;
		}
	}

/* Main */

	#main {
		padding: 4em 0;
	}

/* Footer */

	#footer {
		background: #f2f2f2;
		padding: 4em 0;

		.copyright {
			color: $color-fg-light;
			font-size: 0.9em;
			margin: 2em 0 0 0;
			padding: 0;
			text-align: center;

			li {
				border-left: solid $size-border-width $color-border;
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;

				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}

/* Grid Demo */

	.grid-demo {
		display: block;
		margin: 0 0 $size-element-margin 0;

		span {
			background: lighten($color-accent-bg, 35);
			border-radius: $size-border-radius;
			color: rgba(0,0,0,0.25);
			display: block;
			font-weight: $font-weight-bold;
			height: $size-element-height;
			line-height: $size-element-height;
			text-align: center;
		}

		.row.flush {
			> div {
				span {
					border-radius: 0;
				}

				&:first-child {
					span {
						border-radius: $size-border-radius 0 0 $size-border-radius;
					}
				}

				&:last-child {
					span {
						border-radius: 0 $size-border-radius $size-border-radius 0;
					}
				}
			}
		}
	}