/* menu */
ul.menu2 {
	list-style-type: none;
	margin: 0px 0px 19px 0px;
	padding: 0;
}

li.menu2 {
	display: inline;
	background: #36c2b9;
	padding: 13px 13px 13px 13px;
	margin: 0px -3px 0px 0px;
}

a.menu2 {
	text-decoration: none !important;
	color: white;
	/*
	border: 4px solid red;
	*/
}