.directory {
	color: {{baseline_color2}};
	cursor: pointer;
}

.file {
	color: {{baseline_color2}};
	cursor: pointer;
}

.unknown {
	color: red;
	cursor: pointer;
}

ul.no-bullets
{
	list-style-type: none;
	padding-left: 0em;
	margin: 0em;
}

.nowrap {
	white-space: nowrap;
}