.directory {
  color: {{baseline_color2}};
  cursor: pointer;
}

#directoryNavigation.dark .directory {
  color: {{baseline_color1}};
}

#listbox.dark .directory {
  color: {{baseline_color1}};
}

.file {
  color: {{baseline_color2}};
  cursor: pointer;
}

#directoryNavigation.dark .file {
  color: {{baseline_color1}};
}

#listbox.dark .file {
  color: {{baseline_color1}};
}

.unknown {
  color: red;
  cursor: pointer;
}

ul.no-bullets
{
  list-style-type: none;
  padding-left: 0em;
  margin: 0em;
}

.nowrap {
  white-space: nowrap;
}