body {
  background-color: #d50911;
  background-image: none;
  background-position: center 0px;
  padding-top: 0px;
}
body {
  background: #d50911 url(http://s1emagst.akamaized.net/layout/bg/images/db/5/7619.jpg) center 0px no-repeat;
}